.hot-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.junior-section {
    flex: 1;
}
.senior-section {
    flex: 1;
    margin-left: 10px;
}
.senior-section article.news-article .img {
    width:80px;
    height:80px;
    float:left;
    margin: 5px;
}
.senior-section article.news-article .img img {
    width:80px;
}
.senior-section article.news-article .text {
    width:460px;
    float: left;
    margin: 5px;
}
header {
    border-bottom: 1px solid #eaecef;
    border-image: linear-gradient(.25turn, red, 10%, blue) 30;
}
main {
    margin:auto;
    max-width:1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#left {
    flex: 7;
}
#right {
    flex: 3;
    border-left: 1px solid #eaecef;
    border-image: linear-gradient(.5turn, red, 10%, blue) 30;
}
.news-article {
    margin: 5px;
}
.news-section {
    margin-top: 1rem;
}
.news-section > h4 {
    border-bottom: 1px solid #eaecef;
    border-image: linear-gradient(.25turn, red, 10%, blue) 30;
}
.news-section article.news-article .img {
    width: 150px;
    float: left;
    margin-top: 16px;
}
.news-section article.news-article .img img{
    width: 150px;
}
.news-section article.news-article .text {
    margin-left: 10px;
    margin-top: 16px;
    float: left;
    max-width: 840px;
}