.hot-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.junior-section {
    flex: 1;
}
.senior-section {
    flex: 1;
}
.senior-section article.news-article .img {
    width:130px;
    max-height:130px;
}
.senior-section article.news-article .img img {
    width:130px;
    max-height:130px;
}
.senior-section article.news-article .text {
    margin-left: 5px;
}
header {
    border-bottom: 1px solid #eaecef;
    border-image: linear-gradient(.25turn, red, 10%, blue) 1;
}
main {
    margin:auto;
    max-width:1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#left {
    flex: 7;
}
#right {
    flex: 3;
    border-left: 1px solid #eaecef;
    border-image: linear-gradient(.5turn,red,blue, #eaecef,#ffffff) 1;
    padding: 5px;
}
#right > div {
    margin-top: 5px;
}
#right > div > img {
    margin-right: 3px;
}
.news-article {
    margin: 5px;
}
.news-section {
    margin-top: 1rem;
}
#right > h4 {
    border-bottom: 1px solid #eaecef;
    border-image: linear-gradient(.25turn, blue,#f1f1f1,white,white) 30;
    margin: 5px;
}
.news-section > h4 {
    border-bottom: 1px solid #eaecef;
    border-image: linear-gradient(.25turn, red, blue,#f1f1f1,white) 30;
}
.news-section article.news-article .img {
    width: 150px;
    margin-top: 16px;
}
.news-section article.news-article .img img{
    width: 150px;
    max-height: 150px;
}
.news-section article.news-article .text {
    margin-left: 10px;
    margin-top: 16px;
}